.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  width: 100%;
  overflow: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dateWrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}
