.wrapper {
  background-color: var(--color-indigo);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperContent {
  width: 700px;
  height: auto;
  margin: auto;
  padding: 20px;
}
