.tableWrapper {
  margin-top: 20px;
  width: 100%;
  background: var(--color-surface);
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--color-border);
}

.tableWrapper table {
  width: 100%;
}

.tableWrapper td,
.tableWrapper th {
  padding: 6px 4px;
}
