.wrapper {
  padding: 12px;
  display: flex;
  align-items: center;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  width: 100%;
  height: 40px;
}
