.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-dark);
  margin: 0;
}

.headerIconWrapper {
  display: flex;
  gap: 8px;
}

.statisticIcon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
  border-radius: var(--border-radius-main);
}

.description {
  text-align: center;
  color: #777;
  font-size: 16px;
  margin: 0;
}

.subTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}

.transactionsList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.loader {
  text-align: center;
  padding: 50px;
}
