.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 4px 6px;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--color-border);
  user-select: none;
}

.label {
  font-size: 12px;
  font-weight: 500;
  width: auto;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.arrow {
  border-radius: var(--border-radius-main);
  padding-top: 4px;
  height: 25px;
  background-color: unset;
  border: 1px solid var(--color-border-dark);
  cursor: pointer;
  transition: all 0.2s ease;
}
