.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  overflow: auto;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-dark);
  margin: 0;
}

.create {
  height: 30px;
  color: var(--color-text-dark);
  padding: 4px;
  border-radius: var(--border-radius-main);
  font-size: 12px;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}

.roomsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.roomCard {
  width: 100%;
  border: 1px solid var(--color-indigo);
  border-radius: var(--border-radius-main);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.roomCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.roomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomName {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.roomDescription {
  font-size: 14px;
  color: var(--color-muted);
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.connectRoom {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
