.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.create {
  background-color: var(--color-indigo);
  color: var(--color-text-dark);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.roomsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.roomCard {
  width: 100%;
  border: 1px solid var(--color-indigo);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.roomCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.roomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomName {
  font-size: 18px;
  font-weight: 600;
}

.roomDescription {
  font-size: 14px;
  color: #aaa;
}

.balance {
  font-weight: 600;
  font-size: 16px;
}

.positive {
  color: #43d182;
}

.negative {
  color: #e05252;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.transactionButton {
  background-color: inherit;
  color: var(--color-indigo);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.transactionButton:hover {
  background-color: #fff;
  color: #000;
}

.connectRoom {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
