.categoryCard {
  width: 100%;
  background: var(--color-surface);
  border-radius: 12px;
  overflow: hidden;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  cursor: pointer;
}

.categoryInfoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 6px;
}

.categoryInfo {
  display: flex;

  align-items: center;
  gap: 6px;
}

.categoryColor {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.arrow {
  padding-top: 6px;
}

.categorySum {
  color: inherit;
}
