.header {
  width: 100%;
  padding: 12px;
  background-color: var(--color-indigo);
  borderbottom: 1px solid var(--color-border);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
