.overlay {
  position: fixed;
  background-color: var(--color-bg-dark);
  opacity: 5%;
  inset: 0;
  z-index: 100;
}

.sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80%;
  overflow: auto;
  background-color: var(--color-bg);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 101;
  padding: 16px;
  box-sizing: border-box;
}

.dragHandle {
  width: 40px;
  height: 4px;
  background-color: #888;
  border-radius: 2px;
  margin: 0 auto 12px auto;
}

.transactionButton {
  background-color: #232323;
  color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 14px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.transactionButton:hover {
  background-color: #fff;
  color: #000;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}

.content {
  color: #ccc;
  font-size: 14px;
}

.triggerContent {
  cursor: pointer;
}
