.googleButton {
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
  transition: background-color 0.2s;
}

.googleButton:hover {
  background-color: #f7f7f7;
}
