.wrapper {
  background-color: var(--color-bg);
  padding: 8px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-indigo);
  width: 700px;
  height: 400px;
  margin: auto;
  border-radius: 32px;
  padding: 0 20px;

  h2 {
    margin-top: 0;
  }
}

.link {
  background-color: var(--color-indigo);
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--color-indigo);
}
